@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;400;500;600;700&display=swap');

/* Font family */
$work_sans: 'Work Sans', sans-serif;
$barlow: 'Barlow', sans-serif;

/* */

h3 {
    font-size: 36px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 18px;
}

p, a {
    font-size: 14px;
}

small {
    font-size: 12px;
}

h1, h2, h3, h4, h5, p, a, small {
    font-family: $work_sans;
    color: var(--main--text);
}

a {
    font-family: $barlow;
    text-decoration: none;
}