<div class="full content">
    <main class="wrapper">
        <div>
            <div class="main__title">
                <h3>Recommended Songs</h3>
            </div>
            <ma-line></ma-line>
            <section>
                <!-- O componente ma-music-item será exibido aqui (mostraremos 3 por linha) -->
            </section>
        </div>
        <div>
            <div class="main__title">
                <h3>Recommended Albums</h3>
            </div>
            <ma-line></ma-line>
            <section>
                <!-- O componente ma-music-item será exibido aqui (mostraremos 3 por linha) -->
            </section>
        </div>
        <div>
            <div class="main__title">
                <h3>Recommended Artists</h3>
            </div>
            <ma-line></ma-line>
            <section>
                <!-- O componente ma-music-item será exibido aqui (mostraremos 3 por linha) -->
            </section>
        </div>
    </main>
</div>