<ma-navbar-intern></ma-navbar-intern>
<ma-loading *ngIf="loading"></ma-loading>
<div class="full content">
    <main class="wrapper">
        <div>
            <div class="main__title">
                <h3>Recommended Songs</h3>
            </div>
            <ma-line></ma-line>
            <section>
              <ma-music-item *ngFor="let item of songs" [song]="item"></ma-music-item>
            </section>
        </div>
        <div>
            <div class="main__title">
                <h3>Top Songs</h3>
            </div>
            <ma-line></ma-line>
            <section>
                <ma-music-item *ngFor="let item of topSongs" [song]="item"></ma-music-item>
            </section>
        </div>
    </main>
</div>