@import 'src/assets/scss/_main.scss';

.rating__container {
  box-sizing: border-box;
  display: flex;
  div {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 16px;
    margin-right: 8px;
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--main--text);
    cursor: pointer;
    position: relative;
    z-index: 1;
    font-family: $barlow;
    font-weight: bold;
    color: var(--primary--darker);
  }

  .low {
    &:hover {
      background: red;
    }
&.active {
      background: red;
    }
  }
  .medium {
    &:hover {
      background: orange;
    }
    &.active {
      background: orange;
    }
  }
  .high {
    &:hover {
      background: green;
    }
    &.active {
      background: green;
    }
  }
}
