<div class="music__item">
    <div class="music__item__image">
        <h4>-</h4>
        <img *ngIf="item.images.length" src={{item.images[0].url}}>
    </div>
    <div class="music__item__content">
        <div class="music__item__content__title">
            <h5>{{item.name}}</h5>
            <div>stars</div>
        </div>
        <div class="music__item__content__body">
            <small>Top de maissssssss, recomendo fortemente!!!</small>
            <small>- Vinicius Oliveira</small>
        </div>
        <div class="music__item__content__footer">
            <small>view more...</small>
        </div>
    </div>
</div>