<ma-navbar-intern></ma-navbar-intern>
<div class="full detail">
  <main class="wrapper">
    <div>
      <div class="detail__title">
        <h3>{{ song.name }} - {{ song.artists[0].name }}</h3>
      </div>
      <ma-line></ma-line>
      <div class="detail__detail">
        <section>
          <img class="detail__image" src="{{ song.album.images[0].url }}" />
          <div class="detail__info">
            <div>
              <h4>Overall Rating</h4>
              <h3>8.5</h3>
            </div>
            <div>
              <h4>Most Relevant Comment</h4>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur, ipsa at? Inventore, perspiciatis
                corrupti ducimus a modi architecto, veniam, beatae odio eligendi voluptas eos officiis? Suscipit,
                mollitia recusandae. Iusto, eum.
              </p>
            </div>
            <div>
              <h4>Vote Now</h4>
              <ma-rating (ratingClicked)="setRating($event)"></ma-rating>
            </div>
            <div>
              <h4>Share your thoughts</h4>
              <form #f="ngForm" (ngSubmit)="onSubmit(f)">
                <input class="input"[(ngModel)]="ratingText" name="ratingText">
                <ma-button variant="small">add vote</ma-button>
              </form>
            </div>
          </div>
        </section>
      </div>
      <div class="detail__ratings">
        <div class="detail__ratings__title">
          <h2>RATINGS</h2>
          <P>LAST RATINGS ADDED</P>
        </div>
        <div class="detail__ratings__content">
          <div class="detail__ratings__content__item">
            <div>Numero</div>
            <div>Foto usuário</div>
            <div>Nome usuário</div>
            <div>Conteudo da avaliação</div>
            <div>Nota</div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
