@import 'src/assets/scss/_main.scss';

.content {
    background: var(--gradient--primary);
    height: 100%;
    .main__title {
        display: flex;
        flex-direction: row;
        padding-top: 42px;
        div {
            margin-top: 16px;
        }
        h3 {
            font-weight: 600;
            span {
                font-weight: 700;
            }
        }
    }
    .main__detail {
        section:first-child {
            img {
                min-width: 258px;
                max-height: 250px;
            }
            display: flex;
        }
    }
}