@import 'src/assets/scss/_main.scss';

.detail {
  background: var(--gradient--primary);
  padding-bottom: 4rem;
  height: auto;
  min-height: calc(100% - 80px);
  padding-top: 16px;
  padding-bottom: 4rem;
  &__title {
    display: flex;
    flex-direction: row;
    padding-top: 42px;
    div {
      margin-top: 16px;
    }
    h3 {
      font-weight: 600;
      span {
        font-weight: 700;
      }
    }
  }
  &__detail {
    section:first-child {
      display: flex;
      height: 450px;
      img {
        min-width: 458px;
        max-height: 450px;
        margin-right: 40px;
        @media only screen and (max-width: 1024px) {
          width: 20px;
          min-width: inherit;
          max-height: inherit;
          margin-right: 0px;
        }
      }
      @media only screen and (max-width: 1024px) {
        text-align: center;
        height: 100%;
        flex-direction: column;
        width: 100%;
      }
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    h3 {
    }
    h4 {
      margin-bottom: 16px;
      font-weight: 600;
    }
    p {
      color: var(--main--text--complementary);
    }
    form {
      display: flex;
      justify-content: flex-start;
      position: relative;
      // width: 100%;
      width: 460px;

      input {
        width: 460px;
        border-radius: 42px 0px 0px 42px !important;
      }
      .button {
        height: 100%;
        z-index: 1;
        background: transparent;
        border: none;
        cursor: pointer;
        right: -2px;
        margin: 0;
        img {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
  &__ratings {
    margin-top: 72px;
    color: var(--main--text);
    &__title {
      h2 {
        font-weight: 600;
        letter-spacing: 3px;
        margin-bottom: 8px;
      }
      p {
        color: var(--main--text--complementary);
      }
      text-align: center;
      margin-bottom: 32px;
    }
    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 auto;
      width: 60%;
      text-align: center;
      &__item {
        margin-top: 16px;
        display: grid;
        justify-content: space-between;
        grid-template-columns: repeat(4, minmax(60px, 120px));
        grid-column-gap: 60px;
        grid-row-gap: 40px;
        border-bottom: 0.8px solid var(--border--color);
        padding: 8px;
      }
      &__item__title {
        font-weight: 600;
        text-transform: uppercase;
      }
    }
  }
}
