@import 'src/assets/scss/_main.scss';

.search {
    height: calc(100% - 80px);
    background: var(--gradient--primary);
    .main__title {
        display: flex;
        flex-direction: column;
        padding-top: 42px;
        div {
            margin-top: 16px;
        }
        h3 {
            font-weight: 600;
            span {
                font-weight: 700;
            }
        }
    }
    section {
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
    }
}