<ma-loading *ngIf="loading"></ma-loading>
<ma-navbar-intern (searchQuery)="getSearchQuery($event)"></ma-navbar-intern>
<div class="full search">
  <main class="wrapper">
    < back to recommended
    <div class="main__title">
      <h3>Search results for <span>{{search}}</span></h3>
      <h4>Songs</h4>
    </div>
    <ma-line></ma-line>
    <section>
      <ma-music-item *ngFor="let item of tracks" [song]="item"></ma-music-item>
    </section>
    <div class="main__title">
      <h4>Albums</h4>
    </div>
    <ma-line></ma-line>
    <section>
      <ma-album-item *ngFor="let item of albums" [item]="item"></ma-album-item>
    </section>
    <div class="main__title">
      <h4>Artists</h4>
    </div>
    <ma-line></ma-line>
    <section>
      <ma-artist-item *ngFor="let item of artists" [item]="item"></ma-artist-item>
    </section>
  </main>
</div>
