@import 'src/assets/scss/_main.scss';

.login {
    width: 100%;
    height: 100%;
    display: flex;
    &__image {
        width: 45%;
        background: red;
        display: flex;
        justify-content: center;
        align-items: center;
        h1 {
            font-family: $barlow;
            font-size: 64px;
        }
    }
    &__form {
        width: 55%;
        background: green;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

.login__form__singup {
    form {

        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0 auto;
    }
}


