<div class="login">
    <section class="login__image">
        <div class="login__image__back">
            <a [routerLink]="['/']">BACK</a>
        </div>
        <h1>RATE<span>OR</span>HATE</h1>
        <div></div>
    </section>
    <section class="login__form">
        <div class="login__form__singup">
            <a [routerLink]="['/login']">SIGN IN</a>
            <form #f="ngForm" (ngSubmit)="onSubmit(f)">
                <h3>Sign Up</h3>
                <div class="login__form__singup__inputs">
                    <div>
                        <div class="upload" #uploadImage>
                            <input type="file" accept=".jpg, .jpeg, .png" (change)="onFileChange($event)">
                            <img src="/assets/icons/upload.png">
                        </div>
                        <small #uploadLabel>upload your profile picture</small>
                    </div>
                    <input class="input" placeholder="username" [(ngModel)]="username" name="username">
                    <input class="input" placeholder="email" [(ngModel)]="email" name="email">
                    <input type="password" class="input" placeholder="password" [(ngModel)]="password" name="password">
                </div>
                <ma-button>sign up</ma-button>
            </form>
            <div>
                <small>terms and conditions</small>
            </div>
        </div>
    </section>
</div>