<div class="music__item">
    <div class="music__item__image">
        <img src="assets/img/strokes.jpg">
    </div>
    <div class="music__item__content">
        <div class="music__item__content__title">
            <h4>You only live once</h4>
            <p>The Strokes</p>
            <div>stars</div>
        </div>
        <div class="music__item__content__body">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt, cumque nemo dolor consequuntur nobis</p>
        </div>
        <div class="music__item__content__footer">
            <p>view more...</p>
        </div>
    </div>
</div>