<div class="music__item">
    <div class="music__item__image">
        <img src={{item.images[0].url}}>
    </div>
    <div class="music__item__content">
        <div class="music__item__content__title">
            <h4>{{item.name}}</h4>
            <p>{{item.artists[0].name}}</p>
            <div>stars</div>
        </div>
        <div class="music__item__content__body">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt, cumque nemo dolor consequuntur nobis</p>
        </div>
        <div class="music__item__content__footer">
            <p>view more...</p>
        </div>
    </div>
</div>