<ma-navbar></ma-navbar>
<section class="full home">
    <div class="wrapper">
        <div class="texts">
            <h1>
                DISCOVER SOMETHING NEW
            </h1>
            <h4>
                Create your account and join thousands of music lovers right now
            </h4>
            <ma-button>JOIN US</ma-button>
        </div>
        <div></div>
    </div>
</section>
<section class="full">
    <div class="wrapper row__text">
        <h2>DO IT OR LEAVE IT</h2>
        <h4>Well, I've been in town for just about fifteen-oh minutes now and baby, I feel so down
            and I don't know why
            I keep walking for miles</h4>
    </div>
</section>
<section class="full third">
    <div class="wrapper">
        <div class="image">
            Image
        </div>
        <div class="content">
            <h2>FIND NEW SONGS<br>
                GROW THE COMMUNITY</h2>
            <h4>Well, I've been in town for just about fifteen-oh minutes now and baby, I feel so down
                and I don't know why
                I keep walking for miles</h4>
        </div>
    </div>
</section>
<section class="full">
    <div class="wrapper row__text">
        <h2>WHAT ARE YOU WAITING FOR?</h2>
        <h4>We’re excited to have you in the community!</h4>
        <ma-button>JOIN US</ma-button>
    </div>
</section>
<footer>
    
</footer>