.home {
    overflow: hidden;
    background: var(--main--black);
    height: calc(100%);
    z-index: 1;
    min-height: 600px;
    position: relative;
    &::before {
        content: '';
        width: 100%;
        height: calc(100%);
        z-index: -1;
        position: absolute;
        background: url('/assets/img/blob.svg');
        background-repeat: no-repeat;
        background-size: 115% 110%;
    }
    &__image {
        width: 70%;
        height: 100%;
        bottom: -80px;
        left: 35%;
        z-index: -1;
        background: url('/assets/img/woman.png');
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
    }
    .wrapper {
        display: flex;
        align-items: center;
        height: 100%;
        .texts {
            width: 520px;
            display: flex;
            flex-direction: column;
            h1 {
                color: var(--grey--5);
                font-weight: 900;
                line-height: 90px;
                margin-bottom: 40px;
            }
            h4 {
                margin-bottom: 48px;
                width: 330px;
                color: var(--grey--5);
                font-weight: 400;
            }
        }
    }
}

.row__text {
    padding: 8rem;
    text-align: center;
    h2 {
        font-weight: 900;
        margin-bottom: 16px;
    }
    h4 {
        font-weight: 500;
        margin-bottom: 40px;
    }
    h2, h4 {
        color: var(--main--black--light);
    }
}

.third {
    background: var(--main--black);
    .wrapper {
        min-height: 660px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .image {
        width: 50%;
    } 
    .content {
        width: 50%;
        h2, h4 {
            color: var(--grey--5); 
        }
        h2 {
            margin-bottom: 16px;
            font-weight: 900;
        }
        h4 {
            font-weight: 400;
        }
    }
}

footer {
    background: var(--main--black);
    height: 120px;
}