<div class="music__item">
    <div class="music__item__image">
        <div class="music__item__image__overlay">
            <img class="music__item__image__overlay__icon" src="/assets/icons/play.png" (click)="togglePlayer()" />
        </div>
        <h4>{{song.rating}}</h4>
        <img class="image" src={{song.album.images[0].url}} (click)="togglePlayer()">
    </div>
    <div class="music__item__content">
        <div class="music__item__content__title">
            <h5>{{song.name}}</h5>
            <p>{{song.artists[0].name}}</p>
        </div>
        <div class="music__item__content__body">
            <small>Top de maissssssss, recomendo fortemente!!!</small>
            <small>- Vinicius Oliveira</small>
        </div>
        <div class="music__item__content__footer">
            <a [routerLink]="['/song', song.id]" [state]="{ data: song }"><small>view more...</small></a>
        </div>
    </div>
</div>