<div class="navbar full">
    <div class="wrapper navbar-wrapper">
        <div class="navbar-left">
            <div class="navbar__logo">
                <a [routerLink]="['']"><img src="assets/img/rateorhatelogo.svg" alt="logo"></a>
            </div>
        </div>
        <div class="navbar__search">
            <form #f="ngForm" (ngSubmit)="onSubmit(f)">
                <input id="query" class="--small" [(ngModel)]="query" name="query">
                <button type="submit"><img src="/assets/icons/search.png"></button>
            </form>
        </div>
        <div class="navbar__user">
            <div></div>
        </div>
    </div>
</div>