<div class="navbar full">
    <div class="wrapper navbar-wrapper">
        <div class="navbar-left">
            <div class="navbar__logo">
                <img *ngIf="theme == 'dark'" src="assets/img/rateorhatelogo.svg" alt="logo">
                <img *ngIf="theme == 'light'" src="assets/img/rateorhateblack.svg" alt="logo">
            </div>
            <div class="navbar__actions">
                <ul>
                    <li><a [routerLink]="['/']">Home</a></li>
                    <li><a [routerLink]="['/search']">Search</a></li>
                    <li><a [routerLink]="['/ajuda']">Ajuda</a></li>
                </ul>
            </div>
        </div>
        <div class="navbar__login">
            <p>Entrar</p>
            <button (click)="toggleTheme()">
                Cadastrar
            </button>
        </div>
    </div>
</div>