<div class="navbar full">
    <div class="wrapper navbar-wrapper">
        <div class="navbar-left">
            <div class="navbar__logo">
                <img src="assets/img/rateorhatelogo.svg" alt="logo">
            </div>
            <div class="navbar__actions">
                <ul>
                    <li><a [routerLink]="['/recommended']">RECOMMENDED</a></li>
                    <li><a [routerLink]="['/search']">SEARCH</a></li>
                </ul>
            </div>
        </div>
        <div class="navbar__login">
            <a [routerLink]="['/register']">SIGNUP</a>
            <a [routerLink]="['/login']">
                login
            </a>
        </div>
    </div>
</div>